<?xml version="1.0"?>
<launch>

  <rosparam file="$(find mas_ros_hackathon)/config/config.yaml" command="load" />
<!--   <include file="$(find youbot_gazebo_robot)/launch/youbot.launch">
  </include> -->


 <node pkg="mas_ros_hackathon" type="laser_node" name="laser_node" output="screen"/>

</launch>